html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  color: whitesmoke;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
}
.main__chore {
  border: 2px solid black;
  padding: 3rem;
  height: 8rem;
  width: 15rem;
}
.main__button {
  margin-top: 1rem;
  height: 3rem;
  width: 8rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
}
.main__list {
  border-radius: 0.5rem;
  padding: 1rem;
  width: 15rem;
  background-color: lightblue;
  color: darkblue;
}
.main__item {
  margin: 1rem;
}